// ############################### General styling ##############################
:root {
    --color-bg: #1f1f38;
    --color-bg-variant: #4d4dc0;
    --color-primary: #8eccfb;
    --color-bg-primary: #245c87;
    --color-primary-variant: rgba(77, 181, 255, 0.4);
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.6);
    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;
    --container-width-xsm: 95%;
    --transition: all 0.5s ease-in-out;

}

$primary-font-family: 'Montserrat', sans-serif;
$secondary-font-family: 'Alkatra', cursive;
$primary-color: #990066;
$dark-color: #333;
$light-color: #FFFFCC;
$transition: all 0.5s ease-in-out;
$primary-hue: 210;
$grey-hue: 240;
$pink-color: pink;
$color-primary: hsl($primary-hue, 100%, 50%);
$color-secondary: #ffb116;
$color-grey-100: hsl($grey-hue, 47%, 94%);
$color-grey-200: hsl($grey-hue, 26%, 75%);
$color-grey-300: hsl($grey-hue, 24%, 64%);
$color-grey-400: hsl($grey-hue, 16%, 41%);
$color-grey-500: hsl($grey-hue, 44%, 25%);
$color-grey-600: hsl($grey-hue, 48%, 15%);
$container-width-lg: 80%;
$container-width-md: 90%;
$container-width-sm: 96%;
$transition: all 0.5s ease;

//  ########################## Footer Styling ###########################
footer {
    background: var(--color-bg-variant);
    padding: 3rem 0;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 2rem;

}

footer a {
    color: var(--color-bg);
    font-size: 1.5rem;
    text-decoration: none;
}

footer li {
    list-style: none;
}

.footer__logo {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    display: inline-block;
}

.permalinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto 3rem;
}

.footer__social {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 4rem;
}

.footer__social a {
    text-decoration: none;
    background: $primary-color;
    color: var(--color-white);
    padding: 0.8rem;
    border-radius: 0.7rem;
    display: flex;
    border: 1px solid transparent;
    transition: var(--transition);
}

.footer__social a:hover {
    background: transparent;
    color: $color-grey-200;
    border-color: var(--color-bg);
}

.footer__copyright {
    margin-bottom: 4rem;
    font-size: 1.5rem;
    color: var(--color-bg);
}

// ############################### Responsive Footer for mobile phones ######################
@media screen and (max-width:600px) {
    .permalinks {
        flex-direction: column;
        gap: 1.5rem;
    }

    .footer__social {
        margin-bottom: 2.6rem;
    }
}